#header-nav{
  background-color: #e3f2fd;
}

html,
body, .container-fluid { height: 100%; }
 
body, .container-fluid {
  display: table;
  width: 100%;
}

header {
  background-color:#333;
  color:#fff;
}

.sidebar {
  background-color:#EEE;
  display:table-cell;
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.main {

  height:100%;
}
 
/* .page-row {
  display: table-row;
  height: 1px;
} */
 
.page-row-expanded { height: 100%; }

.product-cover-image img{
  max-height: 700px;
  height: 700px;
}

.sale-product {
  max-width: 250px;
}
.sale-product .product-img{
  max-height: 100%;
  max-width: 400px;
  height: 150px;
}

.bill-items-list{
  margin: 0px;
  margin-right: 0px;
}