#header-nav{
  background-color: #211d1d;
  
}

.logo{
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app-buttons{
  background-color: #5f73a8;
  font-size: 14px;
  font-weight: 800;
}

.app-buttons-text{
  color: #5f73a8;
  font-size: 14px;
  font-weight: 600;
}
.app-buttons-border{
  border-color: #5f73a8 !important; 
}

.transparent-btn {
  background-color: transparent;
  border: none; /* Optional: Remove border */
}

#header-nav a{
  color: #ffffff;
}

#content{
  background-color: #ffffffb7;
}

html,
body, .container-fluid { height: 100%; }
 
body, .container-fluid {
  display: table;
  width: 100%;
}

.sidebar {
  background-color:#1d1a1a;
  display:table-cell;
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidebar a:hover,#navbarNav a:hover{
  color: #453e3e;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.main {

  height:100%;
}

 
.page-row-expanded { height: 100%; }

.product-cover-image img{
  max-height: 700px;
  height: 700px;
}

.sale-product {
  max-width: 250px;
}
.sale-product .product-img{
  max-height: 100%;
  max-width: 400px;
  height: 150px;
}

.bill-items-list{
  margin: 0px;
  margin-right: 0px;
}